.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.692);
}

.navbar.scrolled {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.brand-name {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #0553f0;
    /* Azul oscuro - color de la empresa */
}

.btn-login {
    background-color: #04173f;
    /* Azul oscuro - color de la empresa */
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-login:hover {
    background-color:#0c235e;
    /* Un tono más oscuro del azul corporativo */
    transform: translateY(-2px);
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}

.menu-toggle.active .hamburger {
    background-color: transparent;
}

.menu-toggle.active .hamburger::before {
    transform: rotate(45deg);
}

.menu-toggle.active .hamburger::after {
    transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .navbar-menu {
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        clip-path: circle(0px at 100% 0);
        transition: all 0.5s ease-out;
    }

    .navbar-menu.active {
        clip-path: circle(100% at 50% 50%);
    }

    .navbar-menu li {
        margin: 15px 0;
    }

    .login-button {
        margin-top: 15px;
    } }