:root {
  --blanco: #f4f4f4;
  --darkblue: #00008b;
  --SteelBlue: #4682b4;
  --RoyalBlue: #4169e1;
  --MediumBlue: #0000cd;
  --DarkBlue: #00008b;
  --Navy: #000080;
  --MidnightBlue: #191970;
  --negro: #3e363f;
  --gris-oscuro: #2a2a2a;
  --DarkSlateGray: #2f4f4f;
  --gris-claro: #e0e0e0;
  --fondo: #808b96;
  --sombra: rgba(0, 0, 0, 0.1);
  --sombra-dura: rgba(0, 0, 0, 0.3);
  --transicion: 0.3s;
  --animacion-duracion: 0.6s;
  --azul-Marino: #1b3a57;
  --azul-acero: #14146b;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: var(--gris-claro);
  color: var(--negro);
  min-height: 100vh;
  padding: 0;
}

.logo {
  text-align: center;
  padding: var(--padding-general);
  font-size: 20px;
  font-weight: 400;
  background-color: var(--azul-marino);
  border-bottom: 1.5px solid var(--sombra);
}

.logo h2 {
  font-size: 24px;
  font-weight: 300;
  color: var(--gris-claro);
  margin: 0;
  line-height: 1.5;
}

nav {
  background-color: #0586ffcc; /* Azul Marino */
  padding: 15px 30px; /* Aumento de padding para más espacio */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #d1d3d4; /* Gris Claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para más profundidad */
}

.contenedor-principal {
  flex: 1;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-principal h1 {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--blanco);
}

/* Estilos de los enlaces de navegación */
nav {
  background: var(--azul-Marino); /* Azul Marino */
  padding: 15px 50px; /* Aumento de padding para más espacio */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid #d1d3d4; /* Gris Claro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para más profundidad */
}

/* Estilos de los enlaces de navegación */
nav a {
  color: #ffffff; /* Blanco Puro */
  text-decoration: none;
  font-size: 18px; /* Aumenté el tamaño */
  font-weight: bold;
  padding: 12px 65px; /* Botones de navegación más grandes */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
  background-color: #4682b4; /* Azul Acero */
  color: #f4f4f4; /* Gris Claro */
}

nav a:active {
  background-color: #007bff; /* Azul Eléctrico */
  color: #ffffff; /* Blanco Puro */
}

form {  
  display: flex;  
  flex-wrap: wrap;  
  gap: 20px; /* Espacio entre los pares de inputs */  
}  

form div {  
  flex: 1 1 calc(50% - 20px); /* Dos columnas con espacio entre ellas */  
  min-width: 300px; /* Ancho mínimo para evitar que se vuelvan demasiado estrechos */  
}  

label {  
  display: block; /* Asegura que los labels ocupen toda la línea */  
  margin-bottom: 5px; /* Espacio entre el label y el input */  
}


img {
  position: absolute;  
  right: 0; /* Ajusta esto si necesitas espaciado */  
  top: 60%; /* Centra verticalmente en el contenedor */  
  transform: translateY(-50%); /* Ajusta para centrar completamente */
}

.mercedeslogo {  
  position: absolute;  
  right: 0; /* Alineación a la derecha */  
  top: 20%; /* Ajusta para que esté justo debajo del header */  
  margin-top: 60px; /* Ajusta este valor según la altura del header */  
  width: 300px;
  height: 300px;
}  