:root {
    --blanco: #f4f4f4;
    --darkblue: #00008B;
    --SteelBlue: #4682B4;
    --RoyalBlue: #4169E1;
    --MediumBlue: #0000CD;
    --DarkBlue: #00008B;
    --Navy: #000080;
    --MidnightBlue: #191970;
    --negro: #3E363F;
    --gris-oscuro: #2a2a2a;
    --DarkSlateGray: #2F4F4F;
    --gris-claro: #e0e0e0;
    --fondo: #808b96;
    --sombra: rgba(0, 0, 0, 0.1);
    --sombra-dura: rgba(0, 0, 0, 0.3);
    --transicion: 0.3s;
    --animacion-duracion: 0.6s;
    --azul-marino: #1B3A57;
}

/* General */
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-image: url(../Cliente/IMG/ford-truck-.jpg);
    background-size: cover;
    color: var(--negro);
}

.contenedor-dashboard {
    display: flex;
    min-height: 100vh;
    position: relative;
}

/* Contenido principal */  
.contenido-principal {  
    flex: 1;  
    padding: 20px;  
    display: flex;  
    flex-direction: column;  
    gap: 20px;  
    justify-content: center;  
    align-items: center;  
    background-color: rgba(0, 0, 0, 0.7) !important; /* Negro con 50% de transparencia */  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);  
    border-radius: 6px;  
    max-width: 50%;  
    margin: auto;  
}

.contenido-principal h1 {
    font-size: 30px;
    font-weight: 300;
    color: var(--blanco);
    margin-bottom: 20px;
}

.contenido-principal form label {
    font-size: 18px;
    font-weight: 500;
    color: var(--blanco);
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid var(--sombra);
}

.contenido-principal form input,
.contenido-principal form select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--sombra);
    background-color: var(--gris-claro);
    font-size: 16px;
    margin-bottom: 10px;
    transition: border var(--transicion);
}


.contenido-principal form input:focus,
.contenido-principal form select:focus {
    border: 1px solid var(--azul-marino);
    background-color: var(--azul-marino);
    color: var(--blanco);
}

/* Botones */
.botones {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px 0;
}

.btn-volver,
.btn-actualizar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color var(--transicion), transform 0.2s ease;
}

/* Botón Volver */
.btn-volver {
    background-color: var(--azul-marino);
    color: white;
}

.btn-volver:hover {
    background-color: #1976D2;
    transform: scale(1.05);
    box-shadow: 0 2px 5px var(--sombra-dura);
}

/* Botón Actualizar */
.btn-actualizar {
    background-color: var(--azul-marino);
    color: white;
}

.btn-actualizar:hover {
    background-color: #064686;
    transform: scale(1.05);
    box-shadow: 0 2px 5px var(--sombra-dura);
}
.submenu {  
    display: none; /* Ocultar el submenu por defecto */  
    padding-left: 20px; /* Indent to look like a submenu */  
}  
