
:root {
  --blanco: #f4f4f4;
  --darkblue: #00008B; 
  --SteelBlue: #4682B4;
  --RoyalBlue: #4169E1;
  --MediumBlue: #0000CD;
  --DarkBlue: #00008B;
  --Navy: #000080;
  --MidnightBlue: #191970;
  --negro: #3E363F;
  --gris-oscuro: #2a2a2a;
  --DarkSlateGray: #2F4F4F;
  --gris-claro: #e0e0e0;
  --fondo: #808b96;
  --sombra: rgba(0, 0, 0, 0.1);
  --sombra-dura: rgba(0, 0, 0, 0.3);
  --transicion: 0.3s;
  --animacion-duracion: 0.6s;
  --azul-Marino: #1B3A57;
  --azul-acero: #14146b;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: var(--gris-claro);    color: var(--negro);
  min-height: 100vh; 
  padding: 0;
}

.contenedor-dashboard {
  display: flex;
  min-height: 100vh;
  position: relative;
}

.barra-lateral {
  position: fixed;
  top: 0;
  left: -250px; /* Fuera de la vista por defecto */
  height: 100vh;
  width: 250px;
  background-color: var(--azul-Marino);
  color: white;
  transition: left 0.3s ease; /* Efecto al abrir/cerrar */
  z-index: 999;
  overflow-y: auto;
}

.barra-lateral.visible {
  left: 0; /* Mueve la barra lateral a la vista */
}

/* Botón hamburguesa */
.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: black; /* Color inicial */
  z-index: 1000;
  position: fixed;
  top: 10px;
  left: 10px;
  transition: color 0.3s ease;
}

.oculto {
  display: none;
}

.logo {
  text-align: center;
  padding: var(--padding-general);
  font-size: 20px;
  font-weight: 400;
  background-color: var(--azul-marino);
  border-bottom: 1.5px solid var(--sombra);
}

.logo h2 {
  font-size: 24px;
  font-weight: 300;
  color: var(--gris-claro);
  margin: 0;
  line-height: 1.5;
}

/* Menú de navegación */
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu .opcion {
  padding: 12px 20px;
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.menu .opcion:hover {
  background-color: #4682B4;
  transform: scale(1.1);
}

/* Efectos al pasar el cursor */
.menu .opcion:hover {
  background-color: #4682B4; /* Azul Acero */
  color: #F4F4F4; /* Gris Claro */
  transform: scale(1.1); /* Efecto de aumento */
}

/* Efectos al hacer clic */
.menu .opcion:active {
  background-color: #007BFF; /* Azul Eléctrico */
  color: #FFFFFF; /* Blanco */
}

/* Iconos dentro de las opciones del menú */
.menu .opcion svg {
  margin-right: 10px;
  fill: var(--blanco, #FFFFFF); /* Color del icono */
  transition: fill 0.3s; /* Suavizado del cambio de color */
}

.menu ul li
{
  display: flex;
  gap: 10px;
  align-items: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.menu ul li:hover
{
  transition: background-color 0.3s ease;
  cursor: pointer;
  position: relative;
}

.contenedor-principal
{
  flex: 1;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-principal h1
{
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--blanco);
}
/* Estilos para la navegación */
nav {
  background: var(--azul-Marino); /* Azul Marino */
  padding: 15px 50px; /* Espaciado interno */
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 5px;
}

/* Estilos de los enlaces de navegación */
nav a {
  color: #FFFFFF; /* Blanco Puro */
  text-decoration: none; /* Sin subrayado */
  font-size: 12px; /* Tamaño de fuente */
  padding: 5px 100px; /* Espaciado interno reducido para evitar efecto botón */
  position: relative; /* Necesario para posicionar la línea */
  transition: color 0.3s ease;
}

/* Estilo para el efecto hover de línea */
nav a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px; /* Altura de la línea */
  width: 0%;
  background-color: #4682B4; /* Color de la línea */
  transition: width 0.3s ease; /* Suaviza el efecto de la línea */
}

/* Mostrar la línea solo en el hover */
nav a:hover::after {
  width: 100%; /* La línea se extiende completamente bajo el texto al pasar el cursor */
  transition: width 0.3s ease;
  transform:scale(1.10);
}

#cotizaciones {
  padding: 60px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
#cotizaciones img {
  width: 100%; /* Hace que la imagen ocupe todo el ancho del contenedor */
  height: 100%; /* Hace que la imagen ocupe toda la altura del contenedor */
  border-radius: 50%; /* Para que sea completamente redonda */
  object-fit: cover; /* Asegura que la imagen mantenga su proporción y cubra el contenedor */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  margin: 0; /* Elimina el espacio adicional de los márgenes */
}
/* Estilo para el título */
#cotizaciones h2 {
  color: #1B3A57; /* Azul Marino */
  font-size: 2em;
  margin-bottom: 15px;
  font-weight: bold;
}

/* Estilo para el párrafo */
#cotizaciones p {
  color: #4682B4; /* Azul Acero */
  font-size: 1.1em;
  margin-bottom: 25px;
  font-weight: normal;
}

/* Estilo para el botón */
.quote-button {
  background-color: var(--azul-Marino); /* Azul Eléctrico */
  color: #FFFFFF; /* Blanco Puro */
  border: none;
  padding: 15px 30px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Efecto hover para el botón */
.quote-button:hover {
  background-color: #4682B4; /* Azul Acero */
  transform: scale(1.05);
}

/* Estilo para el borde del botón */
.quote-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px #C0C0C0; /* Plateado */
}




/* Estilos generales */
#marcas {
  background-color: #F4F4F4;
  padding: 50px;
  text-align: center;
}

#marcas h2 {
  color: #1B3A57;
  font-size: 2em;
  margin-bottom: 30px;
}

/* Estilos del contenedor de marcas */
.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 10px;
}

/* Estilos de cada marca */

.brand {
  background-color: #FFFFFF;
  border-radius: 10px;
  border: 1px solid #C0C0C0;
  padding: 20px;
  text-align: center;
  width: 180px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Efecto al pasar el cursor sobre cada marca */
.brand:hover {
  transform: translateY(-10px);
}

/* Estilos de la imagen de cada marca */
.brand img {
  max-width: 100px;
  height: auto;
  margin-bottom: 15px;
}

/* Estilos del nombre de la marca */
.brand p {
  color: #4682B4;
  font-size: 1.2em;
  font-weight: bold;
}

/* Medios de pantalla (responsividad) */
@media (max-width: 768px) {
  .brand {
      width: 150px;
  }
}

@media (max-width: 480px) {
  .brand {
      width: 120px;
  }
}



#galeria {
  background-color: #F4F4F4; /* Gris Claro */
  padding: 40px 0;
  text-align: center;
  color: #1B3A57; /* Azul Marino */
}

#galeria h2 {
  font-family: 'Arial', sans-serif;
  color: #1B3A57; /* Azul Marino */
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Estilos para la galería */
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.gallery img {
  border: 5px solid #C0C0C0; /* Plateado */
  border-radius: 8px;
  width: 300px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  border-color: #007BFF; /* Azul Eléctrico */
}


#preguntas-frecuentes {
  background-color: #F4F4F4; /* Gris Claro */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#preguntas-frecuentes h2 {
  font-size: 24px;
  color: #1B3A57; /* Azul Marino */
  margin-bottom: 20px;
  text-align: center;
}

.faq p {
  font-size: 16px;
  color: #4682B4; /* Azul Acero */
  line-height: 1.6;
  margin-bottom: 10px;
}

.faq p strong {
  color: #007BFF; /* Azul Eléctrico */
  font-weight: bold;
}

.faq p:nth-child(odd) {
  background-color: #C0C0C0; /* Plateado */
  padding: 10px;
  border-radius: 4px;
}

.faq p:nth-child(even) {
  background-color: #FFFFFF; /* Blanco Puro */
  padding: 10px;
  border-radius: 4px;
}



footer {
  background-color: #F4F4F4; /* Gris Claro */
  padding: 40px 20px;
  color: #1B3A57; /* Azul Marino */
}

footer h2 {
  font-size: 36px;
  font-weight: bold;
  color: #1B3A57; /* Azul Marino */
  text-align: center;
  margin-bottom: 30px;
}

/* Estilo para la sección de contacto */
.contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

/* Contenedor principal de contacto */
.contact-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/* Estilo para la dirección */
.address iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: none;
  border-radius: 10px;
}

.address h3 {
  font-size: 24px;
  font-weight: bold;
  color: #1B3A57; /* Azul Marino */
  margin-bottom: 10px;
}

/* Estilo para la información de contacto */
.contact-info {
  flex: 1;
}

.contact-info h3 {
  font-size: 24px;
  font-weight: bold;
  color: #1B3A57; /* Azul Marino */
  margin-bottom: 15px;
}

.contact-info p {
  font-size: 18px;
  color: #4682B4; /* Azul Acero */
}

.contact-info a {
  color: #007BFF; /* Azul Eléctrico */
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

/* Estilo para las redes sociales */
.social-media {
  flex: 1;
}

.social-media h3 {
  font-size: 24px;
  font-weight: bold;
  color: #1B3A57; /* Azul Marino */
  margin-bottom: 15px;
}

.social-media .wrapper {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.social-media .wrapper li {
  position: relative;
}

.social-media .wrapper li a {
  font-size: 28px;
  color: #4682B4; /* Azul Acero */
  transition: color 0.3s;
}

.social-media .wrapper li a:hover {
  color: #007BFF; /* Azul Eléctrico */
}

.social-media .tooltip {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1B3A57; /* Azul Marino */
  color: #FFFFFF; /* Blanco Puro */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s;
}

.social-media .wrapper li:hover .tooltip {
  opacity: 1;
}


.submenu {  
  display: none; /* Ocultar el submenu por defecto */  
  padding-left: 20px; /* Indent to look like a submenu */  
}  

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  background-color: var(--azul-Marino); /* Gris claro */
  width: 900px; /* Ancho aumentado */
  height: 700px; /* Altura aumentada */
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto ; /* Centrado dentro del contenedor padre */
  overflow: hidden; /* Evita que los elementos sobresalgan */
 
  
}

.chat-area {
  width: 90%; /* Ajustado al ancho del contenedor */
  height: 90%; /* Ajustado al alto del contenedor */
  padding: 15px;
  overflow-y: auto; /* Scroll para contenido largo */
  display: flex;
  flex-direction: column;
  gap: 15px; /* Espaciado entre enlaces */
  background-color: var(--gris-claro); /* Fondo blanco */
  border-radius: 5px;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombras internas */
}

.chat-menu-item {
  display: flex; /* Coloca el ícono y el texto uno al lado del otro */
  align-items: center; /* Centra verticalmente el contenido */
  gap: 10px; /* Espaciado entre el ícono y el texto */
  background-color: var(--blanco); /* Fondo gris claro */
  fill: #333;
  padding: 15px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #333333; /* Texto gris oscuro */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.chat-menu-item:hover {
  background-color: #a3a3a3; /* Cambio de fondo al pasar el cursor */
  color: #333; /* Cambio de color al pasar el cursor */
  text-decoration: none;
  text-decoration: underline; /* Resalta el texto al pasar el cursor */
  transform: scale(1.05);
}

.chat-menu-item svg {
  flex-shrink: 0; /* Evita que el ícono cambie de tamaño */
}

.chat-menu-item span {
  font-size: 16px; /* Texto ligeramente más grande */
  font-weight: 500;
}

.acciones {
  display: flex; /* Coloca los botones en línea */
  gap: 10px; /* Espaciado entre botones */
  justify-content: center; /* Centra los botones horizontalmente */
  margin-top: 20px ;
  margin: 40px auto;
}

/* Estilo base para los botones */
button {
  padding: 10px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Estilo específico para el botón "Volver al inicio" */
.btn-volver {
  background-color: var(--azul-Marino); /* Rojo */
  color: #fff; /* Texto blanco */
}

.btn-volver:hover {
  background-color: var(--azul-acero); /* Rojo más oscuro al pasar el cursor */
  transform: scale(1.05); /* Pequeño efecto de zoom */
}

/* Ocultar los chats por defecto */
.chat-message {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw; /* Ajustar ancho del chat */
  height: 90vh; /* Ajustar alto del chat */
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Encabezado del chat */
.chat-header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

/* Contenido del chat */
.chat-content {
  padding: 15px;
  flex: 1;
  overflow-y: auto;
}

/* Botón para cerrar */
.chat-header button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 5px;
}

/* Estilo para el área de selección del chat */
.chat-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chat-menu-item:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}
.message {
  max-width: 90%; /* Limitar el ancho del mensaje */
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  line-height: 1.4;
}

/* Mensajes enviados por el remitente */
.message.sender {
  background-color: #e0f7fa;
  align-self: flex-end; /* Alinear a la derecha */
  text-align: right;
}

/* Mensajes enviados por el receptor */
.message.receiver {
  background-color: #f0f0f0;
  align-self: flex-start; /* Alinear a la izquierda */
  text-align: left;
}

