:root {
    --blanco: #f4f4f4;
    --negro: #3E363F;
    --gris-oscuro: #2a2a2a;
    --gris-claro: #e0e0e0;
    --azul-marino: #1B3A57;
    --azul-acero: #4682B4;
    --azul-electrico: #007BFF;
    --sombra: rgba(0, 0, 0, 0.1);
    --sombra-dura: rgba(0, 0, 0, 0.3);
    --transicion: 0.3s;
    --padding-general: 15px;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: var(--gris-claro);    color: var(--negro);
    min-height: 100vh; 
    padding: 0;
}

/* Contenedor principal */
.contenedor-principal
{
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-principal h1
{
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--blanco);
}

/* Títulos */
.titulo {
    font-size: 2rem;
    font-weight: bold;
    margin: 40px 0;
    text-align: center;
    color: var(--negro);
    text-transform: uppercase;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2E3B4E; /* Azul Profundo */
    color: #FFFFFF; /* Blanco Puro */
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    border-bottom: 3px solid #4E5B6E; /* Azul Grisáceo */
  
}
header h1 {
    font-size: 2rem; /* Aumenté el tamaño */
    font-weight: bold;
    color: #FFFFFF; /* Blanco Puro */
    text-transform: uppercase; /* Título en mayúsculas */
    margin-bottom: 10px; /* Espacio entre el título y el logotipo */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
}
/* Contenedor principal de datos */
.datos {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--negro);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9F9F9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    border-radius: 10px;
}

/* Lista de datos */
.datos ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.datos li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    color: var(--negro);
    text-transform: capitalize;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.datos li label {
    margin-right: 10px;
    font-weight: bold;
    text-transform: none;
}

.datos li select {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    cursor: pointer;
    text-transform: capitalize;
    flex-grow: 1;
}

.datos li select:focus {
    border-color: #4682B4;
    outline: none;
    box-shadow: 0 0 5px rgba(70, 130, 180, 0.5);
}

/* Botones */
.acciones {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin: 40px 0;
    gap: 10px; /* Espaciado entre botones */
}

.btn-volver,
.btn-actualizar {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Botón Volver */
.btn-volver {
    background-color: var(--azul-marino); /* Azul */
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.btn-volver:hover {
    background-color: #1976D2;
    transform: scale(1.05); /* Efecto de aumento */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}

/* Botón Actualizar */
.btn-actualizar {
    background-color: var(--azul-marino); /* Azul */
    color: white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s ease;
    text-decoration: none;
}

.btn-actualizar:hover {
    background-color: #064686;
    transform: scale(1.05); /* Efecto de aumento */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Estilos para la navegación */
nav {
    background: var(--azul-marino); /* Azul Marino */
    padding: 15px 50px; /* Espaciado interno */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5px;
  }
  
  /* Estilos de los enlaces de navegación */
  nav a {
    color: #FFFFFF; /* Blanco Puro */
    text-decoration: none; /* Sin subrayado */
    font-size: 12px; /* Tamaño de fuente */
    padding: 5px 10px; /* Espaciado interno reducido para evitar efecto botón */
    position: relative; /* Necesario para posicionar la línea */
    transition: color 0.3s ease;
  }
  
  /* Estilo para el efecto hover de línea */
  nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px; /* Altura de la línea */
    width: 0%;
    background-color: #4682B4; /* Color de la línea */
    transition: width 0.3s ease; /* Suaviza el efecto de la línea */
  }
  
  /* Mostrar la línea solo en el hover */
  nav a:hover::after {
    width: 100%; /* La línea se extiende completamente bajo el texto al pasar el cursor */
    transition: width 0.3s ease;
    transform:scale(1.10);
  }


