/* Reinicio General */
body, h1, h2, div, label, input, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Estilos básicos */
body {
    font-family: 'Poppins', sans-serif; /* Fuente moderna y limpia */
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF; /* Blanco puro para el texto */
    background-color: #cacaca;
}    


/* Sidebar y Top Bar combinados */
.sidebar {
    height: 100vh;
    width: 0;
    background-color: #13226ceb; /* Azul */
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    overflow-y: auto;
    max-width: 250px;
    padding-top: 30px;
    padding-bottom: 20px;
    max-height: 100vh;
    z-index: 999;
}

.sidebar a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.sidebar a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px; /* Altura de la línea */
    width: 0%; /* Línea oculta inicialmente */
    background-color: #4682B4; /* Color de la línea */
    transition: width 0.3s ease; /* Suaviza el efecto de la línea */
}
  
/* Mostrar la línea solo en el hover */
.sidebar a:hover::after {
    width: 100%; /* La línea se extiende completamente bajo el texto al pasar el cursor */
    transition: width 0.3s ease;
    transform: scale(1.10); /* Escala para darle un pequeño efecto adicional si se desea */
}

.sidebar .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.top-bar {
    height: 50px;
    background-color: #13226ceb; /* Azul */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: margin-left 0.3s;
}

.menu-toggle {
    font-size: 20px;
    cursor: pointer;
}

.user-menu {
    position: relative;
}

.user-menu button {
    background-color: #13226ceb; /* Azul */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px; /* Botones más grandes */
    border-radius: 5px;
    font-size: 1rem;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000;
}

.dropdown a {
    display: block;
    padding: 15px 20px; /* Botones más grandes */
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.dropdown a:hover {
    background-color: #f4f4f9; /* Fondo claro */
}

.user-menu:hover .dropdown {
    display: block;
}

/* Estilo del Encabezado */
header {
    background-color: #111111; /* Fondo negro */
    padding: 20px;
    text-align: center;
    color: #F4F4F4; /* Gris Claro para el texto */
    font-size: 1.5rem;
    font-weight: bold;
    padding: auto auto;
}

/* Secciones informativas */
section {
    background-color: #F4F4F4; /* Gris Claro para el fondo de las secciones */
    padding: 100px;
    margin: 60px auto;
    max-width: 1100px;
    border-radius: 8px;
    color: #1B3A57; /* Texto en Azul Marino */
}

/* Botones secundarios */
button.secondary {
    background-color: #4682B4; /* Azul Acero */
    color: #FFFFFF; /* Blanco puro */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px;
}

/* Botones principales de acción */
button.primary {
    background-color: #007BFF; /* Azul Eléctrico */
    color: #FFFFFF; /* Blanco puro */
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

/* Iconos con borde metálico */
.icon {
    border: 2px solid #C0C0C0; /* Gris Plateado para bordes */
    padding: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
}

/* Contenedor principal del aviso de cookies */
.cookie-container {
    background-color: #1B3A57; /* Azul Marino */
    color: #FFFFFF; /* Blanco Puro para el texto */
    padding: 20px;
    border: 2px solid #C0C0C0; /* Bordes plateados */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif; /* Fuente limpia y legible */
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cookie-container p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
}

.cookie-container a {
    color: #007BFF; /* Azul Eléctrico para destacar */
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.3s ease;
}

.cookie-container a:hover {
    color: #4682B4; /* Azul Acero al pasar el cursor */
}

.cookie-btn {
    background-color: #4682B4; /* Azul Acero */
    color: #FFFFFF; /* Blanco Puro para el texto */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cookie-btn:hover {
    background-color: #007BFF; /* Azul Eléctrico para resaltar al pasar el cursor */
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2E3B4E; /* Azul Profundo */
    color: #FFFFFF; /* Blanco Puro */
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
    border-bottom: 3px solid #4E5B6E; /* Azul Grisáceo */
  
}
.menu-icon {
    font-size: 50px; /* Aumentar el tamaño del ícono */
    background-color:#1B3A57; 
    cursor: pointer; /* Cambiar cursor a mano */
}

/* Title Styles */
header h1 {
    font-size: 2rem; /* Aumenté el tamaño */
    font-weight: bold;
    color: #FFFFFF; /* Blanco Puro */
    text-transform: uppercase; /* Título en mayúsculas */
    margin-bottom: 10px; /* Espacio entre el título y el logotipo */
    cursor: pointer; /* Cambio de cursor al pasar el mouse */
}

/* Estilos para el contenedor de botones */
.button-container {
    background: #2E3B4E; /* Azul Marino */
    padding: 15px 50px; /* Espaciado interno */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5px;
}

/* Estilos del enlace de botones (igual que los enlaces de navegación) */
.login-button {
    color: #FFFFFF; /* Blanco Puro */
    text-decoration: none; /* Sin subrayado */
    font-size: 12px; /* Tamaño de fuente */
    padding: 5px 10px; /* Espaciado interno reducido para evitar efecto botón */
    position: relative; /* Necesario para posicionar la línea */
    transition: color 0.3s ease;
}

/* Hover para efecto de interacción similar a la navegación */
.login-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px; /* Altura de la línea */
    width: 0%; /* Línea oculta inicialmente */
    background-color: #4682B4; /* Color de la línea */
    transition: width 0.3s ease; /* Suaviza el efecto de la línea */
}
  
/* Mostrar la línea solo en el hover */
.login-button:hover::after {
    width: 100%; /* La línea se extiende completamente bajo el texto al pasar el cursor */
    transition: width 0.3s ease;
    transform: scale(1.10); /* Escala para darle un pequeño efecto adicional si se desea */
}
.faq-question {
    cursor: pointer; /* Cambiar cursor a puntero */
    color: #007BFF; /* Color azul para el texto */
    text-decoration: underline; /* Subrayado para indicar que es un enlace */
}

.faq-answer {
    display: none; /* Ocultamos inicialmente las respuestas */
    margin-top: 5px; /* Espaciado después de la respuesta */
}


/* Navegacion */

/* Estilos para la navegación */
nav {
    width: 100%;
    background: #1B3A57; /* Azul Marino */
    padding: 15px 0; /* Espaciado interno */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 5px;
    list-style-type: none; /* Quita el punto inicial de los enlaces */
    margin: 50px 0; /* Quita el margen de los enlaces */
    overflow-x: hidden; /* Evitar scroll horizontal */
    overflow-y: auto; /* Evitar scroll vertical */
}
  
/* Estilos de los enlaces de navegación */
nav a {
    color: #FFFFFF; /* Blanco Puro */
    text-decoration: none; /* Sin subrayado */
    font-size: 12px; /* Tamaño de fuente */
    padding: 5px 10px; /* Espaciado interno reducido para evitar efecto botón */
    position: relative; /* Necesario para posicionar la línea */
    transition: color 0.3s ease;
}
  
/* Estilo para el efecto hover de línea */
nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px; /* Altura de la línea */
    width: 0%; /* Línea oculta inicialmente */
    background-color: #4682B4; /* Color de la línea */
    transition: width 0.3s ease; /* Suaviza el efecto de la línea */
}
  
/* Mostrar la línea solo en el hover */
nav a:hover::after {
    width: 100%; /* La línea se extiende completamente bajo el texto al pasar el cursor */
    transition: width 0.3s ease;
    transform: scale(1.10); /* Escala para darle un pequeño efecto adicional si se desea */
}
/* Ícono de menú hamburguesa oculto por defecto */
.menu-icon {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}


.container {
    display: flex;
    flex-wrap: wrap; /* Permite que las tarjetas se acomoden en múltiples filas si no caben */
    gap: 16px; /* Espaciado entre tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
    margin: 20px;
}
  
/* Estilos de las tarjetas */
.card {
    display: flex;
    flex-direction: row; /* Alineación horizontal del contenido */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 350px; /* Ancho de cada tarjeta */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Imagen de la tarjeta */
.card-img {
    width: 120px;
    height: 120px;
    background-color: #eaeaea;
    flex-shrink: 0; /* Mantiene el tamaño fijo de la imagen */
}

/* Información de la tarjeta */
.card-info {
    padding: 16px;
    flex: 1; /* Toma el resto del espacio disponible */
}

.text-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 8px;
    color: #333;
}

.text-body {
    font-size: 14px;
    color: #666;
}

/* Pie de la tarjeta */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    border-top: 1px solid #ddd;
}

.card-button {
    cursor: pointer;
}

.card-button svg {
    fill: #555;
    width: 20px;
    height: 20px;
}

/* Estilos del contenedor del carrusel */
.carousel {
    position: relative;
    width: 99vw; /* Ancho completo de la ventana */
    height: 50vh; /* Reduce la altura al 60% de la ventana */
    overflow: hidden; /* Oculta las imágenes fuera del área visible */
    background: #000; /* Fondo negro para evitar parches vacíos */
}
  
/* Estilo para las imágenes dentro del carrusel */
.carousel-images {
    display: flex; /* Coloca las imágenes una al lado de la otra */
    width: 100%; /* Asegura que las imágenes ocupen el contenedor */
    transition: transform 0.5s ease; /* Animación suave al cambiar de imagen */
}
  
.carousel-images img {
    min-width: 100%; /* Cada imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* Ajusta la altura al contenedor */
    object-fit: contain; /* Ajusta la imagen sin recortar (proporcionalmente) */
    background-color: #000; /* Fondo para imágenes con espacios vacíos */
}
  
/* Botones de navegación */
.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    z-index: 10;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}
  
/* Efecto hover para el botón */
.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Cambia el color al pasar el cursor */
}
  
section.how-it-works {
    background-color: #FFFFFF; /* Blanco Puro */
    padding: 20px;
    border: 1px solid #C0C0C0; /* Plateado */
    border-radius: 8px;
    max-width: 1100px;
    margin: 20px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section.how-it-works h3 {
    color: #1B3A57; /* Azul Marino */
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
}

.steps {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.step {
    text-align: center;
    flex: 1;
    background-color: #4682B4; /* Azul Acero */
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.step:hover {
    background-color: #007BFF; /* Azul Eléctrico */
    transform: translateY(-5px);
}

.step img {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
    border: 2px solid #C0C0C0; /* Plateado */
    border-radius: 50%;
    background-color: #FFFFFF; /* Blanco Puro */
}

.step p {
    color: #FFFFFF; /* Blanco Puro */
    font-size: 1rem;
    margin: 0;
}


#cotizaciones {
    background-color: #F4F4F4; /* Gris Claro */
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
#cotizaciones h2 {
    color: #1B3A57; /* Azul Marino */
    font-size: 2em;
    margin-bottom: 15px;
    font-weight: bold;
}

/* Estilo para el párrafo */
#cotizaciones p {
    color: #4682B4; /* Azul Acero */
    font-size: 1.1em;
    margin-bottom: 25px;
    font-weight: normal;
}

/* Estilo para el botón */
.quote-button {
    background-color: #1B3A57; /* Azul Marino */
    color: #FFFFFF; /* Blanco Puro */
    border: none;
    padding: 15px 50px; /* Aumento del padding horizontal */
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
    width: 97%; /* Ocupará todo el ancho disponible */
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block; /* Asegurar un bloque de tamaño */
    justify-content: center;
}

/* Efecto hover para el botón */
.quote-button:hover {
    background-color: #4682B4; /* Azul Acero */
    transform: scale(1.05); /* Escalar ligeramente para dar efecto de expansión */
}

/* Estilo para el borde del botón */
.quote-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px #C0C0C0; /* Plateado */
}





/* Estilos generales */
#marcas {
    background-color: #F4F4F4;
    padding: 50px;
    text-align: center;
}

#marcas h2 {
    color: #1B3A57;
    font-size: 2em;
    margin-bottom: 30px;
}

/* Estilos del contenedor de marcas */
.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
}

/* Estilos de cada marca */

.brand {
    background-color: #4682B4;
    border-radius: 10px;
    border: 1px solid #C0C0C0;
    padding: 20px;
    text-align: center;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    color: white;
}


/* Efecto al pasar el cursor sobre cada marca */
.brand:hover {
    transform: translateY(-10px);
}

/* Estilos de la imagen de cada marca */
.brand img {
    max-width: 100px;
    height: auto;
    margin-bottom: 15px;
}

/* Estilos del nombre de la marca */
.brand p {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

/* Medios de pantalla (responsividad) */
@media (max-width: 768px) {
    .brand {
        width: 150px;
    }
}

@media (max-width: 480px) {
    .brand {
        width: 120px;
    }
}



#galeria {
    background-color: #F4F4F4; /* Gris Claro */
    padding: 40px 0;
    text-align: center;
    color: #1B3A57; /* Azul Marino */
}

#galeria h2 {
    font-family: 'Arial', sans-serif;
    color: #1B3A57; /* Azul Marino */
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Estilos para la galería */
.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.gallery img {
    border: 5px solid #C0C0C0; /* Plateado */
    border-radius: 8px;
    width: 300px;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
    border-color: #007BFF; /* Azul Eléctrico */
}


#preguntas-frecuentes {
    background-color: #F4F4F4; /* Gris Claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#preguntas-frecuentes h2 {
    font-size: 24px;
    color: #1B3A57; /* Azul Marino */
    margin-bottom: 20px;
    text-align: center;
}

.faq p {
    font-size: 16px;
    color: #4682B4; /* Azul Acero */
    line-height: 1.6;
    margin-bottom: 10px;
}

.faq p strong {
    color: #007BFF; /* Azul Eléctrico */
    font-weight: bold;
}

.faq p:nth-child(odd) {
    background-color: #C0C0C0; /* Plateado */
    padding: 10px;
    border-radius: 4px;
}

.faq p:nth-child(even) {
    background-color: #FFFFFF; /* Blanco Puro */
    padding: 10px;
    border-radius: 4px;
}



footer {
    background-color: #1B3A57; /* Gris Claro */
    padding: 40px 20px;
    color: #1B3A57; /* Azul Marino */
}

footer h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1B3A57; /* Azul Marino */
    text-align: center;
    margin-bottom: 30px;
}

/* Estilo para la sección de contacto */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d1d1d1;
    gap: 20px;
}

/* Contenedor principal de contacto */
.contact-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

/* Estilo para la dirección */
.address iframe {
    width: 100%;
    max-width: 600px;
    height: 450px;
    border: none;
    border-radius: 10px;
}

.address h3 {
    font-size: 24px;
    font-weight: bold;
    color: #1B3A57; /* Azul Marino */
    margin-bottom: 10px;
}

/* Estilo para la información de contacto */
.contact-info {
    flex: 1;
}

.contact-info h3 {
    font-size: 24px;
    font-weight: bold;
    color: #1B3A57; /* Azul Marino */
    margin-bottom: 15px;
}

.contact-info p {
    font-size: 18px;
    color: #4682B4; /* Azul Acero */
}

.contact-info a {
    color: #007BFF; /* Azul Eléctrico */
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

/* Estilo para las redes sociales */
.social-media {
    flex: 1;
}

.social-media h3 {
    font-size: 24px;
    font-weight: bold;
    color: #1B3A57; /* Azul Marino */
    margin-bottom: 15px;
}

.social-media .wrapper {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.social-media .wrapper li {
    position: relative;
}

.social-media .wrapper li a {
    font-size: 28px;
    color: #4682B4; /* Azul Acero */
    transition: color 0.3s;
}

.social-media .wrapper li a:hover {
    color: #007BFF; /* Azul Eléctrico */
}

.social-media .tooltip {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1B3A57; /* Azul Marino */
    color: #FFFFFF; /* Blanco Puro */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s;
}

.social-media .wrapper li:hover .tooltip {
    opacity: 1;
}

/* Media Query para pantallas pequeñas (máx-width: 600px) */
@media (max-width: 600px) {
    header
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        
    }

    section
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;

    }
    nav
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;

    }
    nav a
    {
        margin-bottom: 10px;
        text-align: center;
    }
    .carousel
    {
        margin-bottom: 20px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 10px;
    }
    .how-it-works
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .contact-section
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
        margin-bottom: 20px;
    }
  }
  /* Media Query para pantallas medianas (máx-width: 900px) */
  @media (max-width: 900px) {
    header
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }
    section
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    nav
    {
        display: none; /* Oculta el menú por defecto */
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 20px 0;
    }
    nav.active {
        display: flex; /* Muestra el menú al activar el ícono */
    }
    .menu-icon {
        display: block; /* Muestra el ícono del menú hamburguesa */
    }

 #nav-menu.hidden {
        display: none; /* Ocultar menú */
    }
    .carousel
    {
        margin-bottom: 20px;
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 10px;
    }
    .carousel img
    {
        width: 100%;
    }
    }
   